@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

body {
  font-family: 'Luckiest Guy', cursive;
  text-transform: uppercase;
  font-size: 14px;
  color: #333;
  min-width: 800px;
}

#root {
  position: relative;
  min-height: 750px;
  height: 100vh;
}

*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: 1px dotted grey;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

